//Logo Fonts

@font-face{
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
    font-family: pacifo-reg;
}

//----- Headers Fonts -----

//Roboto
@font-face{
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: roboto-reg;
}

@font-face{
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-family: roboto-med;
}

@font-face{
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-family: roboto-black;
}

//Rubik
@font-face{
    src: url('../fonts/Rubik/Rubik-Regular.ttf');
    font-family: rubik-reg;
}

@font-face{
    src: url('../fonts/Rubik/Rubik-Medium.ttf');
    font-family: rubik-med;
}

//------ Text Fonts --------

//Nunito
@font-face{
    src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf');
    font-family: nunito-reg;
}
//Nunito
@font-face{
    src: url('../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf');
    font-family: nunito-med;
}


//Ubuntu
@font-face{
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-family: ubu-reg;
}
//Nunito
@font-face{
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
    font-family: ubu-med;
}
